.btn-del{
    z-index: 5;
    top:0px;
    left:20%;
    border: 1px solid black;
    
}
.dashed-border{
    position:absolute;
    width: 60px;
    height: 100%;
    border: 3px dashed grey ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-add{
    /* 추가 버튼 */
}
.btn-close{
    box-sizing:border-box;
}

.list-container{
    height: 100%;
}
.form-select{
    height: 100%;
}
.white-background{
    display: block;
}