body{
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    margin:0;
    height:100%;
    overflow:hidden;
}
body.swal2-height-auto {
    height: 100% !important
}
html{
    height:100%;
}
div{
    box-sizing: border-box;
}

input[type=password]{
    font-family:"굴림";
}
::placeholder { 
    font-family: 'NanumSquare', sans-serif; 
    opacity: 1; /* Firefox */ 
} 
:-ms-input-placeholder { 
    /* Internet Explorer 10-11 */ 
    font-family: 'NanumSquare', sans-serif; 
} 
::-ms-input-placeholder { 
    /* Microsoft Edge */ 
    font-family: 'NanumSquare', sans-serif; 
}

p,h4,h3,h2,h1,span{
    /* 글씨 이뿌게 */
	transform : rotate(0.04deg); 
}
#container{
    width: 1920px; 
    height: 1080px;
    position:relative;
    background-color: rgb(25, 25, 49);
}

.office{
    /* main의 width */
    width: 100%;
    display: flex;

}

.top_banner{
    /* 로고랑 버튼 있는 컨테이너 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:15%;

}
.btn-group{
    padding: 20px;
    padding-left: 0px;
}
.btn{
    color: white;
    border-color: grey;
}

.main{
    /* display: flex; */
    background-color:white; 
    padding:10px;
    width:100%; 
    position:absolute;
    z-index: 96;
    
}
#first-office{
    width: calc(100%*9/17);
    float: left;
    /* border 추후에 지울 예정 */
    
}
#second-office{
    width: calc(100%*8/17);
    float:right;
}
.header{
    float: left;
    position:relative;
    margin: 10px;
    padding:20px;
    letter-spacing:1px;
}
.office-name{
    float:left;
    position:absolute;
    top:2px;
}
.office-head{
    float:right;
    position:absolute;
    top:8px;
    right:20px;

    
}
.circle {
    margin: 0 auto 10px;
    width: 5px;
    height: 5px;
    border: 10px solid blue;
    border-radius: 100%;
}
.border-green{
    border-color: green;  
}
.border-red{
    border-color: red;  
}
.border-yellow{
    border-color: yellow;
}
.btn-detail{
    padding-top:20px;
    display:flex; 
    width:480px; 
    float:left; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.circle-span{
    color: white; 
    font-size: 15px;
    white-space:nowrap;
}
#status{
    /* 선택할 수 없게 함 */
    pointer-events: none;
    top:0px;
    left:20%;
    z-index: 97;
}
.header-0{
    border:1px solid blue;
}
.header-1{
    border:1px solid orange;
}
.header-2{
    border:1px solid red;
}
.dept-container{
    display: flex;
    height: 90%;
}
.office-0>.dept-table:before{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 5px solid blue;
    margin-top: -10px;
}
.office-1>.dept-table:before{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 5px solid orange;
    margin-top: -10px;
}
.office-2>.dept-table:before{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 5px solid red;
    margin-top: -10px;
}
.department{
    /* width = 100 / 팀 갯수 */
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


}

.department>span{
    letter-spacing: 4px;
    display: inline-block;
}
.department>.dept-table{
    /* table 넣을 div */
    /* margin-top: 10px; */
    height: 95%;
    border-right: 1px solid gray;
}
#first-office>.dept-container>.department>.dept-name{
    display: block;

    border-bottom: 5px solid rgb(16, 16, 153);
}
#second-office>.dept-container>.department>.dept-name{
    display:block;
    border-bottom: 5px solid orangered;
}
.cell{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0px;
    
}
.mem-img{
    height: 100%;
    width:60px;

}
#team-row{
    padding: 15px;
}
.mem{
    max-height:130px;
   min-height: 130px;
}

.mem>.memInfo{
    text-align: center;
}
#mem-row{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.memPos{
    margin-top: -5px; display: block;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position:fixed;
    /* position:fixed - 브라우저 화면에 딱 달라붙는 요소를 만들어낼 수 있습니다. */
    z-index:99;
    /* z-index는 position 속성이 들어간 요소들에 쓸 수 있는 속성이며 값이 클 수록 맨 앞으로 가져옵니다 */
    width:100%;
    height:100%;
    display:none;
    margin-top: -1200px;
    /* opacity:0; 또는 visibility:hidden */
}
.white-background{
    background:white;
    padding-bottom: 100px;
    padding-top: 50px;
    width:45%;
    height: 48%;
    margin:300px auto;
    border-radius:0.5rem;
    display: flex;
    position:relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.btn-container{
    position: absolute;
    top: 10px;
    right: 10px;

}
.left-container{
    float:left;
    height: 300px;
    margin: 10px;
    width:350px;
    display: table;
    text-align: center;

}
#img{
    /* 모달창 이미지 부모 div */
   display: table-cell;
   vertical-align: middle;

   
}
#pic{
    /* 이미지 */
    max-width: 230px;
    height:100%;
    border-radius: 16px;
    box-shadow: 0 0 8px grey;
}
.right-container{
    float:right;
    border-radius: 0.5rem;
    margin: 30px 10px auto;
    height: 100%;
    width:50%;
    overflow-x: hidden;
    
}

/* scroll 꾸미기 */
.right-container::-webkit-scrollbar{
    width: 10px;
}
.right-container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
.right-container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.tag_name{
    display:inline-block;
    border-radius: 0.5rem;
    padding: 8px;
    background: rgb(10, 10, 30);
    color: white;
    text-align: center;
}
.detail-container{
  
    /* padding: 20px; */
    /* justify-content: center;
    align-items: center;
     */
}
.tag_info{
    padding: 20px;
}
.btn-l-2{
    /* 팀장 버튼 left 클래스(col=2) */
    top:0px;
    left:35% !important;
}
.btn-l-3{
    /* 팀장 버튼 left 클래스(col=3) */
    top:0px;
    left:40% !important;
}
.btn-l-4{
    /* 팀장 버튼 left 클래스(col=4) */
    top:0px;
    left:43% !important;
}
.btn-yellow{
   
    width:18px;
    height:18px;
    border-width:3px !important;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 3px 1px rgba(155, 155, 155, 1);
    background:linear-gradient(rgb(252 255 0),rgba(245, 166, 35, 1));
}
.btn-green{
    width:18px;
    height:18px;
    border-width:3px !important;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 3px 1px rgba(155, 155, 155, 1);
    background:linear-gradient(rgb(123 255 4),#044304);
}
.btn-blue{
    width:18px;
    height:18px;
    border-width:3px !important;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 3px 1px rgba(155, 155, 155, 1);
    background:linear-gradient(rgb(37 158 248),#06128b);
}
.btn-red{
    /* background-color: red; */
    width:18px;
    height:18px;
    border-width:3px !important;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 3px 1px rgba(155, 155, 155, 1);
    background:linear-gradient(rgb(253 241 241), rgb(226 4 4));

}
.buttonClass{
    width:15%;
    text-align: center;
}

/* 0px로 설정 */

.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9fafb8f;
    position:absolute;
    bottom: 1%;
    padding: 20px;

}