body{
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    margin:0;
    height:100%;
    overflow:hidden;
}
html{
    height:100%;
}
div{
    box-sizing: border-box;
}
p,h4,h3,h2,h1,span{
    /* 글씨 이뿌게 */
	transform : rotate(0.04deg); 
}
#container{
    width: 1920px; 
    height: 1080px;
    position:relative;
    background-color: rgb(25, 25, 49);
}
#logo-img{
   
}
.main{
    /* display: flex; */
    background-color:white; 
    padding:10px;
    width:100%; 
    position:absolute;
    top:100px;
}
#first-office{
    width: calc(100%*9/17);
    float: left;
    /* border 추후에 지울 예정 */
    
}
#second-office{
    width: calc(100%*8/17);
    float:right;
}
.header{
    position:relative;
    margin: 10px;
    padding:20px;
    letter-spacing:1px;
}
.office-name{
    float:left;
    position:absolute;
    top:2px;
}
.office-head{
    float:right;
    position:absolute;
    top:8px;
    right:20px;

}
#first-office>.header{
    border:1px solid blue;
}
#second-office>.header{
    border:1px solid orange;
}
.dept-container{
    display: flex;
    height: 90%;
}
.department{
    /* width = 100 / 팀 갯수 */
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


}

.department>span{
    letter-spacing: 4px;
    display: inline-block;
}
.department>.dept-table{
    /* table 넣을 div */
    /* margin-top: 10px; */
    height: 95%;

    border-right: 1px solid gray;
}
#first-office>.dept-container>.department>.dept-name{
    display: block;

    border-bottom: 5px solid rgb(16, 16, 153);
}
#second-office>.dept-container>.department>.dept-name{
    display:block;
    border-bottom: 5px solid orangered;
}
#second-office>.dept-container>#last-dept>#last-table{
    /* 두번째 office의 맨마지막 팀 border 삭제  */
    /* border-right: non e; */
}
.cell{

    height: 80px;
    margin: 0px;
    
}
.mem-img{
    
    height: 100%;
    width:60px;

}


.mem{
    max-height:130px;
   
}
.col-6{
    /* 가운데 정렬  */
    /* 나머지 col-4,3,2...도 적용해야 함. */
     /* justify-content: center;
     align-items: center; */
}
.mem>.memInfo{
    text-align: center;
}
#mem-row{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.memPos{
    margin-top: -5px; display: block;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position:fixed;
    /* position:fixed - 브라우저 화면에 딱 달라붙는 요소를 만들어낼 수 있습니다. */
    z-index:5;
    /* z-index는 position 속성이 들어간 요소들에 쓸 수 있는 속성이며 값이 클 수록 맨 앞으로 가져옵니다 */
    width:100%;
    height:100%;
    display:none;
    margin-top: -1200px;
    /* opacity:0; 또는 visibility:hidden */
}
.white-background{
    background:white;
    width:45%;
    height: 48%;
    margin:150px auto;
    padding:20px;
    border-radius:0.5rem;
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
}
.btn-container{
    position: absolute;
    top: 10px;
    right: 10px;

}
.left-container{
    float:left;
    height: 300px;
    margin: 10px;
    width:350px;
    display: table;
    text-align: center;

}
#img{
    /* 모달창 이미지 부모 div */
   display: table-cell;
   vertical-align: middle;

   
}
#pic{
    /* 이미지 */
    max-width: 300px;
    height:100%;
}
.right-container{
    float:right;
    border-radius: 0.5rem;
    margin: 10px;
    height: 100%;
    width:50%;
    overflow-x: hidden;
    overflow-y: scroll;

}
.tag_name{
    display:inline-block;
    border-radius: 0.5rem;
    padding: 8px;
    background: rgb(10, 10, 30);
    color: white;
    text-align: center;
}
.detail-container{
  
    padding: 20px;
    /* justify-content: center;
    align-items: center;
     */
}

.tag_info{
    padding: 20px;
}
/* 0px로 설정 */
@media (min-width: 0px){
    /* 팀장 자리 가운데로 설정 */
    .justify-content-md-center {
        justify-content: center!important;
    }

}
