<div class="black-background">
    <!-- 모달창 구현 -->
    <div class="white-background">
        <div class="btn-container"><button type="button" class="btn-close" aria-label="Close"></button></div>
        <div class="left-container">
            <!-- 사진 왼쪽에 -->
            <div id="img">
                <img id="pic">
            </div>
        </div>
        <div class="right-container">
            <!-- 세부 정보 ( DB에서 가져옴 )-->
            <!-- 이름, 사번, 휴대폰번호,사무실번호, 직위,업무분장, -->
            <div class="detail-container">
                <span class="tag_name fs-5" >이름</span>
                <span class="tag_info  fs-5" id="name_tag"></span>
                <p></p>
                <span class="tag_name fs-5" >사번</span>
                <span class="tag_info  fs-5 " id="id_tag"></span>
                <p></p>
                <span class="tag_name fs-5" >소속</span>
                <span class="tag_info office_tag fs-5 " id="office_tag"></span>
                <p></p>
                <span class="tag_name fs-5" > 휴대폰 번호</span>
                <span class="tag_info fs-5" id="phone_tag"></span>
                <p></p>
                <span class="tag_name fs-5" >사무실 번호 </span>
                <span class="tag_info  fs-5" id="office_p_tag"></span>
                <p></p>
                <span class="tag_name fs-5" > 직위</span>
                <span class="tag_info position_tag fs-5" id="position_tag"></span>
                <p></p>
                <span class="tag_name fs-5" >업무 분장 </span><p></p>
                <span class="tag_info  fs-5" id="detail_tag"></span>
                <p></p>    
            </div>
            
        </div>
        
        
    </div>
</div>

