<!-- 수정 페이지에서 사원 추가할 때 나오는 모달창  -->
<div class="black-background">
    <!-- 모달창 구현 -->
    <div class="white-background" style="width: 600px; padding-top:0px;">
        <div class="list-header">
            <div class="btn-container"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
        
            <span class="list-title">사용자 추가</span>
        </div>
        <div class="list-container">
            <div id="jsGrid"></div>
           
        </div>
   
    </div>
</div>
