<div class="black-background">
    <!-- 모달창 구현 -->
    <div class="white-background">
        <div class="btn-container"><button type="button" class="btn-close" aria-label="Close"></button></div>
        <div class="list-container">
            <!-- list 구현 -->
            <!-- table로 구현 -> list -->
            <select class="form-select" size="3" aria-label="size 3 select example">
                <option selected>Open this select menu</option>
                <option value="1"><div class="row">row</div></option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
   
    </div>
</div>